*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding-bottom: 0.5em;
  font-size: em;
  font-family: "Futura Maxi CG Bold", sans-serif;
  text-transform: uppercase;
  line-height: 1em;
}

h1::selection {
  background-color: #c4e63fbf;
  color: #130202c9;
}

.nav-logo {
  padding-top: 5em;
  text-align: center;
}

.nav-logo img {
  max-width: 70em;
  height: auto;
}

body {
  background-color: rgb(247, 239, 243);
  font-family: "Open Sans";
}

nav {
  margin: 0 auto 3% auto;
}

nav ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 5%;
}

nav a {
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: #9c3370;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
}

nav a::before {
  content: "";
  height: 0.1rem;
  width: 0;
  background-color: #F7EFF3;
  display: inline-block;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.5s;
}

nav a:hover::before {
  width: 100%;
}

.background {
  width: 100%;
  padding: 0;
  margin: 0;
}

.hero {
  overflow: hidden;
  position: relative;
  top: -50px;
}

.background img {
  scale: 1.25;
  width: 100%;
  height: auto;
  display: block;
  margin-top: -20%;
  margin-left: -10%;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(205, 41, 147);
}

.image-overlay h1 {
  padding-bottom: 0.5em;
  font-size: 5em;
  font-family: "Futura Maxi CG Bold", sans-serif;
  text-transform: uppercase;
  line-height: 1em;
}

.image-overlay p {
  font-size: 11px; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  height: 1%;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  );
  pointer-events: none; 
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #9b5c8e;
  border: none;
  color: #8216b7;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 5px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.wwd-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.wwd-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 7em;
  margin: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.wwd-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 20rem;
  padding-bottom: 30em;
  margin-bottom: 30px;
}

.weirdflex > h1 {
  text-align: center;
  font-size: 3em;
  font-family: "Futura Maxi CG Bold", sans-serif;
}

/* edit product category frame size */
.wwd {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.slider-wrapper > h1 {
  padding-top: 1.5em;
  /* color: rgb(152, 94, 143); */
  color:#060606;
  font-size: 3em; /* change product showroom subtitle font size */
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
  background-color: #f4e1ea;
}


/* ----------------------------------------- */
.slides-container {
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: -10; /*TODO：可能需要修改*/
}

/* .slide-arrow类用于幻灯片箭头的样式设置，包括定位、尺寸、背景颜色和过渡效果。 */
.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 3rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 1.5;
  transition: opacity 100ms;
}

/* .slide类下的img元素，用于设置图片的尺寸和显示方式。 */
.slide img {
  width: 65vw;
  height: 80vh;
  overflow: hidden;
  object-fit: contain;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  flex: 0 100 100%;
  height: 400px;
}

.outerdiv
{
	width: 100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: left;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 25rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #f489f06b;
    color: white;
}

/* 修改五个方块的位置 */
.div1
{
	background: white;
    grid-column: 1 / 2; 
    grid-row: 2 / 3;
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
	background:white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.div3
{
	background: white;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    color: #18202D;
}
.div4
{
	background: white;
  grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #18202D;
}
.div5
{
	background: white;
  grid-column: 3 / 4;
    grid-row: 1 / 2;
}


.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1.2rem;
}
.imgbox img
{
	border-radius: 10%;
	width: 2.5rem;
    height: 2rem;
	border: 4px solid #ad5f9d;
}
.detbox
{
	display: flex;
    flex-direction: row;
    justify-content: center;
}
.detbox p
{
	margin: 10;
}
.detbox .name
{
	color: hsl(0, 0%, 0%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 58%, 26%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #b63584;
}
.review h4
{
	font-size: 1.4rem;
	color: #000000be;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#000000;
}
.review p
{
	font-size: 0.95rem;
    color: #080809;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}


@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
}

.testimonialsInsPicture > h1 {
  padding-top: 1.5em;
  font-size: 3em; /* 添加这一行来设置字体大小 */
}


footer {
  display: grid;
  grid-template-columns: 25% 590%;
  margin: 2.5rem 2%;
}

footer img {
  display: block;
  width: 2rem;
}

footer div:nth-child(2) {
  text-align: end;
}






@media screen and (max-width: 1170px) {
  h1 {
    text-align: left;
    padding-top: 0em;
    font-size: 3em;
    font-family: "Futura Maxi CG Bold", sans-serif;
    line-height: 0.5em;
    text-transform: uppercase;
  }

  .weirdflex > h1 {
    padding-top: 1em;
    font-size: 3em;
    font-family: "Futura Maxi CG Bold", sans-serif;
    line-height: 0em;
    text-transform: uppercase;
  }

  .image-overlay h1 {
    font-size: 3em;
    font-family: "Futura Maxi CG Bold", sans-serif;
    line-height: 0em;
    text-transform: uppercase;
    color: #ecb3d6; /* 替换为你想要的颜色 */
  }

  .hero {
    overflow: hidden;
    position: relative;
    top: -30px;
  }

  .button {
    display: inline-block;
    border-radius: 40px;
    background-color: #deb6d7;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 0.5em;
    padding: .5em;
    width: 20em; /* change find out more button size       */
    transition: all 0.1s;
    cursor: pointer;
    margin: 5px;
  }
  .wwd {
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .wwd-container {
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 0 auto;
    flex-direction: column;
  }
}